<a href="https://colab.research.google.com/github/Shibli-Nomani/datascience/blob/main/HW3_ML_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [267]:
from google.colab import drive

drive.mount('/content/gdrive/')

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [268]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
path='/content/gdrive/MyDrive/AIQUEST ML Course/insurance.csv'
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

# **Data Preprocessing**

In [269]:
#Check total no of null values per columns
df.isnull().sum()
print(df.isnull().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [270]:
df.bmi.mean()
print(df.bmi.mean())

30.663396860986538

In [271]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [272]:
df.corr()

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [273]:
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [274]:
df.region.unique()
print(df.region.unique())

['southwest' 'southeast' 'northwest' 'northeast']

In [275]:
df.sex.unique()
print(df.sex.unique())

['female' 'male']

# **1. Label Encoder**

In [276]:
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [277]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df.region=le.fit_transform(df['region'])
df.sex=le.fit_transform(df['sex'])
df.smoker=le.fit_transform(df['smoker'])

In [278]:
df.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

# **1. Label Encoder Using Loop**

In [279]:
import pandas as pd
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [280]:
import numpy as np
from pandas.core.dtypes.common import is_numeric_dtype
for column in df.columns:
  if is_numeric_dtype(df[column]):
    continue
  else:
    df[column]=le.fit_transform(df[column])

In [281]:
df.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       3  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       1  21984.47061
4   32    1  28.880         0       0       1   3866.85520

# **2. One Hot Encoding**

In [282]:
import pandas as pd
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [283]:
x=['region','sex', 'smoker']
dummy=pd.get_dummies(df[x])

In [284]:
dummy.head(5)

,region_northeast,region_northwest,region_southeast,region_southwest,sex_female,sex_male,smoker_no,smoker_yes
0,0,0,0,1,1,0,0,1
1,0,0,1,0,0,1,1,0
2,0,0,1,0,0,1,1,0
3,0,1,0,0,0,1,1,0
4,0,1,0,0,0,1,1,0

In [285]:
dummy = pd.get_dummies(df[x], drop_first=True)

In [286]:
dummy.head(5)

   region_northwest  region_southeast  region_southwest  sex_male  smoker_yes
0                 0                 0                 1         0           1
1                 0                 1                 0         1           0
2                 0                 1                 0         1           0
3                 1                 0                 0         1           0
4                 1                 0                 0         1           0

In [287]:
df=df.drop(x, axis=1)

In [288]:
df.head(3)

   age    bmi  children     charges
0   19  27.90         0  16884.9240
1   18  33.77         1   1725.5523
2   28  33.00         3   4449.4620

In [289]:
df2=pd.concat([df,dummy], axis=1)
df2.head(3)

,age,bmi,children,charges,region_northwest,region_southeast,region_southwest,sex_male,smoker_yes
0,19,27.90,0,16884.9240,0,0,1,0,1
1,18,33.77,1,1725.5523,0,1,0,1,0
2,28,33.00,3,4449.4620,0,1,0,1,0

# **2. One Hot Encoder Using Loop**

In [290]:
import pandas as pd
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [291]:
columns=['region', 'sex', 'smoker']

for col in columns:
  one_hot_en=pd.get_dummies(df[col], drop_first=True) 
  df=pd.concat((df,one_hot_en), axis=1)

In [292]:
df.head(3)

,age,sex,bmi,children,smoker,region,charges,northwest,southeast,southwest,male,yes
0,19,female,27.90,0,yes,southwest,16884.9240,0,0,1,0,1
1,18,male,33.77,1,no,southeast,1725.5523,0,1,0,1,0
2,28,male,33.00,3,no,southeast,4449.4620,0,1,0,1,0

In [293]:
df1=df.drop(columns, axis=1)

In [294]:
df1.head(5)

,age,bmi,children,charges,northwest,southeast,southwest,male,yes
0,19,27.900,0,16884.92400,0,0,1,0,1
1,18,33.770,1,1725.55230,0,1,0,1,0
2,28,33.000,3,4449.46200,0,1,0,1,0
3,33,22.705,0,21984.47061,1,0,0,1,0
4,32,28.880,0,3866.85520,1,0,0,1,0

# **3. Replace Function**

In [295]:
import pandas as pd
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [296]:
#Find Unique Value
df.sex.unique()

array(['female', 'male'], dtype=object)

In [297]:
df.sex=df.sex.replace(['female', 'male'], [1,2])
df.head(2)

   age  sex    bmi  children smoker     region     charges
0   19    1  27.90         0    yes  southwest  16884.9240
1   18    2  33.77         1     no  southeast   1725.5523

In [298]:
df.smoker.unique()
print(df.smoker.unique())

['yes' 'no']

In [299]:
df.smoker=df.smoker.replace(['yes', 'no'], [1,0])
df.head(3)

   age  sex    bmi  children  smoker     region     charges
0   19    1  27.90         0       1  southwest  16884.9240
1   18    2  33.77         1       0  southeast   1725.5523
2   28    2  33.00         3       0  southeast   4449.4620

In [300]:
df.region.unique()
print(df.region.unique())

['southwest' 'southeast' 'northwest' 'northeast']

In [301]:
df.region=df.region.replace(['southwest', 'southeast', 'northwest', 'northeast'], [1,2,3,4])
df.head(3)

   age  sex    bmi  children  smoker  region     charges
0   19    1  27.90         0       1       1  16884.9240
1   18    2  33.77         1       0       2   1725.5523
2   28    2  33.00         3       0       2   4449.4620

# **4. Ordinal Encoder**

In [302]:
import pandas as pd
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [303]:
#To find unique in a Dataset
df.nunique
print(df.nunique)

<bound method DataFrame.nunique of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [304]:
df.sex.unique()

array(['female', 'male'], dtype=object)

In [305]:
gender=['female', 'male']

In [306]:
from sklearn.preprocessing import OrdinalEncoder
ordinal_01= OrdinalEncoder(categories=[gender])

In [307]:
encoded_01 = ordinal_01.fit_transform(df[['sex']])

In [308]:
new_df_01= pd.DataFrame(encoded_01, columns=['Sex'])

In [309]:
new_df_01.head(3)

   Sex
0  0.0
1  1.0
2  1.0

In [310]:
df.head(3)

   age     sex    bmi  children smoker     region     charges
0   19  female  27.90         0    yes  southwest  16884.9240
1   18    male  33.77         1     no  southeast   1725.5523
2   28    male  33.00         3     no  southeast   4449.4620

In [311]:
df.region.unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [312]:
region01= ['southwest', 'southeast', 'northwest', 'northeast']

In [313]:
ordinal_02= OrdinalEncoder(categories=[region01])

In [314]:
encoded_02 = ordinal_02.fit_transform(df[['region']])

In [315]:
new_df_02= pd.DataFrame(encoded_01, columns=['Region'])

In [316]:
new_df_02.head(3)

   Region
0     0.0
1     1.0
2     1.0

In [317]:
new_df_02.Region.unique()

array([0., 1.])

In [318]:
df2= pd.concat([df,new_df_01, new_df_02], axis=1)

In [319]:
df2.head(5)

   age     sex     bmi  children smoker     region      charges  Sex  Region
0   19  female  27.900         0    yes  southwest  16884.92400  0.0     0.0
1   18    male  33.770         1     no  southeast   1725.55230  1.0     1.0
2   28    male  33.000         3     no  southeast   4449.46200  1.0     1.0
3   33    male  22.705         0     no  northwest  21984.47061  1.0     1.0
4   32    male  28.880         0     no  northwest   3866.85520  1.0     1.0

In [320]:
df2=df2.drop(['sex', 'region'], axis=1)

In [321]:
df2.head(5)

   age     bmi  children smoker      charges  Sex  Region
0   19  27.900         0    yes  16884.92400  0.0     0.0
1   18  33.770         1     no   1725.55230  1.0     1.0
2   28  33.000         3     no   4449.46200  1.0     1.0
3   33  22.705         0     no  21984.47061  1.0     1.0
4   32  28.880         0     no   3866.85520  1.0     1.0

In [322]:
df.smoker.unique()

array(['yes', 'no'], dtype=object)

In [323]:
df2.smoker=df2.smoker.replace(['yes','no'], [1,0])

In [324]:
df2.head(5)

   age     bmi  children  smoker      charges  Sex  Region
0   19  27.900         0       1  16884.92400  0.0     0.0
1   18  33.770         1       0   1725.55230  1.0     1.0
2   28  33.000         3       0   4449.46200  1.0     1.0
3   33  22.705         0       0  21984.47061  1.0     1.0
4   32  28.880         0       0   3866.85520  1.0     1.0

# **4. Ordinal Encoder Using Loop**

In [325]:
import pandas as pd
df = pd.read_csv(path)
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [326]:
columns=['sex', 'smoker', 'region']

for col in columns:
  unique= df[col].unique()
  df[col] =  OrdinalEncoder(categories=[unique]).fit_transform(df[[col]])

In [327]:
df.head(5)

   age  sex     bmi  children  smoker  region      charges
0   19  0.0  27.900         0     0.0     0.0  16884.92400
1   18  1.0  33.770         1     1.0     1.0   1725.55230
2   28  1.0  33.000         3     1.0     1.0   4449.46200
3   33  1.0  22.705         0     1.0     2.0  21984.47061
4   32  1.0  28.880         0     1.0     2.0   3866.85520